.Navbar{
    background-color: black;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    border-bottom: 5px solid darkred;
    padding-left: 40px;
    h1 span{
        font-size: 15px;
    }
    .golden{
        color: gold;
        font-family: 'Caramel', cursive;
        font-size: 38px;
    }
    .menu{
        display: flex;
        justify-content: space-around;
        width: 30%;
        button{
            background-color: gold;
            height: 30px;
            width: 120px;
            border-radius: 10px;
            border-style: none;
            font-weight: bold;
            &:hover{
                background-color: darkred;
            }
        }
    }
}