@import url('https://fonts.googleapis.com/css2?family=Caramel&family=Rubik:wght@400;700&display=swap');


/* 
font-family: 'Caramel', cursive;
font-family: 'Rubik', sans-serif; 
*/



*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
body{
    background-color: lightgoldenrodyellow;
    font-family: 'Rubik', sans-serif;

}